* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

header {
    text-align: center;
    margin: 1rem;
}

.img-container {
    width: 100%;
    text-align: center;
}

.homepage-img {
    width: 40rem;
}

nav {
    width: 100%;
    height: auto;
    background: rgb(179, 179, 179);

    margin: 0 0 2rem;
}

nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;

    margin: 1rem;
}

.buttons-container {
    width: 100%;
    height: 5rem;
    text-align: center; 

    margin: 3rem 0 0;
}

.buttons-container a {
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: black;

    width: 15rem;
   
    background-color: rgb(179, 179, 179);

    padding: 1rem;
    margin: 2rem 5rem 0;
}

form {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 2rem 0 0;
}

.username-div, .password-div {
    margin: 2rem;
    
}

.username-input, .password-input {
    border: 1px solid black;
}

.submit-btn {
    font-size: 1.5rem;
    width: 10rem;
   
    background-color: rgb(179, 179, 179);

    padding: 1rem;
    margin: 1rem 0;
}

.submit-btn:hover {
    cursor: pointer;
}